TOOLCHAIN_PREFIX="@CMAKE_CXX_ANDROID_TOOLCHAIN_PREFIX@"
ROOT_DIR="@CMAKE_SOURCE_DIR@"
PLATFORM_VERSION="@ANDROID_PLATFORM_LEVEL@"
HOST="@CMAKE_LIBRARY_ARCHITECTURE@"

TOOLCHAIN_BIN="$(dirname $TOOLCHAIN_PREFIX})"

export ANDROID_API=$PLATFORM_VERSION
export ANDROID_NDK="${TOOLCHAIN_BIN%%/toolchains/*}"
export ANDROID_NDK_HOME="$ANDROID_NDK"

CLANG_TARGET="-target $HOST$PLATFORM_VERSION"
export CC="$TOOLCHAIN_BIN/clang $CLANG_TARGET"
export CXX="$TOOLCHAIN_BIN/clang++ $CLANG_TARGET"
export AR="$TOOLCHAIN_BIN/llvm-ar"
export STRIP="$TOOLCHAIN_BIN/llvm-strip"
export RANLIB="$TOOLCHAIN_BIN/llvm-ranlib"
export LD="$TOOLCHAIN_BIN/$HOST-ld"
export AS="$CC"

PATH="$TOOLCHAIN_BIN:$PATH"

export API="$PLATFORM_VERSION"
export TARGET="$HOST"
export TOOLCHAIN="$TOOLCHAIN_BIN/../"

export CFLAGS="$CFLAGS -I${ROOT_DIR}/target/usr/include -I${ROOT_DIR}/target/usr/local/include -O3 -DNDEBUG"
export CPPFLAGS="$CPPFLAGS $CFLAGS"
export LDFLAGS="$LDFLAGS -lz -lm -L${ROOT_DIR}/target/usr/lib -L${ROOT_DIR}/target/usr/local/lib"
echo "CFLAGS: $CFLAGS"
echo "LDFLAGS: $LDFLAGS"